.chooseUs {
  position: relative;
}

.chooseUsContainer {
  max-width: 1440px;
  /* width: 100%; */
  margin: 0 auto;
  padding: 140px 80px;
  padding-top: 225px;
}

@media screen and (max-width: 767px) {
  .chooseUsContainer {
    padding: 68px 100px;
    padding-top: 165px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .chooseUsContainer {
    padding: 80px 40px;
    padding-top: 148px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .chooseUsContainer {
    padding: 100px 80px;
    padding-top: 168px;
  }
}

.chooseUSTitleContainer {
  background-color: #f9f9f9;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 60px;
}
.chooseUsTitle {
  color: var(--Elements-Colors-Black, var(--Black-282828, #282828));
  display: inline-block;
  font-family: 'Open Sans', serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 16px 80px;
  background-color: #fff;

  border-radius: 0px 20px 20px 0px;
  background: var(--Text-Colors-White, #fcfcfc);
  box-shadow: 0px 4px 9.6px 0px rgba(223, 223, 223, 0.16);
}

@media screen and (max-width: 767px) {
  .chooseUsTitle {
    font-size: 24px;
    /* margin-bottom: 40px; */
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .chooseUsTitle {
    /* margin-bottom: 40px; */
    padding: 12px 80px;
  }
  .chooseUSTitleContainer {
    padding-bottom: 40px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .chooseUsTitle {
    /* margin-bottom: 40px; */
  }
}

.chooseUsList {
  max-width: 1015px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;
}

@media screen and (max-width: 768px) {
  .chooseUsList {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .chooseUsList {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .chooseUsList {
    padding-top: 100px;
    gap: 16px;
  }
}

.chooseUsItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}

@media screen and (max-width: 767px) {
  .chooseUsItem {
    width: calc((100% - 64px * 1) / 2);
    row-gap: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .chooseUsItem {
    width: calc((100% - 132px * 1) / 4);
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .chooseUsItem {
    width: calc((100% - 132px * 1) / 4);
  }
}

.chooseUsItemIcon {
  width: 62px;
  height: 62px;
}

@media screen and (max-width: 767px) {
  .chooseUsItemIcon {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .chooseUsItemIcon {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .chooseUsItemIcon {
    width: 64px;
    height: 64px;
  }
}

.chooseUsItemTitle {
  color: var(--Elements-Colors-Black, var(--Black-282828, #282828));
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .chooseUsItemTitle {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .chooseUsItemTitle {
    font-size: 24px;
  }
}
