.chooseUs {
  width: 1440px;
  margin: 0 auto;
  padding: 80px 212px;
}

.chooseUsTitle {
  color: var(--Elements-Colors-Black, var(--Black-282828, #282828));
  text-align: center;
  font-family: 'Open Sans', serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 80px;
}

.chooseUsList {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.chooseUsItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}

.chooseUsItemIcon {
  width: 62px;
  height: 62px;
}

.chooseUsItemTitle {
  color: var(--Elements-Colors-Black, var(--Black-282828, #282828));
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0;
}
