.chooseUs {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 212px;
}

@media screen and (max-width: 767px) {
  .chooseUs {
    padding: 68px 100px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .chooseUs {
    padding: 80px 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .chooseUs {
    padding: 68px 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .chooseUs {
    padding: 100px 80px;
  }
}
.chooseUsTitle {
  color: var(--Elements-Colors-Black, var(--Black-282828, #282828));
  text-align: center;
  font-family: 'Open Sans', serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .chooseUsTitle {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .chooseUsTitle {
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .chooseUsTitle {
    margin-bottom: 40px;
  }
}

.chooseUsList {
  max-width: 1015px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 32px;
}
  
  @media screen and (max-width: 768px) {
  .chooseUsList {
    flex-wrap: wrap;
  }
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
  
.chooseUsList {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .chooseUsList {
    padding-top: 100px;
    gap: 16px;
  }
}

.chooseUsItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}

@media screen and (max-width: 767px) {
  .chooseUsItem {
    width: calc((100% - 64px * 1) / 2);
    row-gap: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .chooseUsItem {
    width: calc((100% - 132px * 1) / 4);
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .chooseUsItem {
    width: calc((100% - 132px * 1) / 4);
  }
}

.chooseUsItemIcon {
  width: 62px;
  height: 62px;
}

@media screen and (max-width: 767px) {
  .chooseUsItemIcon {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .chooseUsItemIcon {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .chooseUsItemIcon {
    width: 64px;
    height: 64px;
  }
}

.chooseUsItemTitle {
  color: var(--Elements-Colors-Black, var(--Black-282828, #282828));
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .chooseUsItemTitle {
    font-size: 14px;
  }}

@media (min-width: 768px) and (max-width: 1023px) {
  .chooseUsItemTitle {
    font-size: 24px;
  }
}

