.catalog {
  width: 1444px;
  padding: 240px 80px 0 80px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

@media screen and (max-width: 435px) {
  .catalog {
    max-width: 435px;
    padding: 68px 20px;
  }
}

.catalogTitle {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 80px;
}

@media screen and (max-width: 435px) {
  .catalogTitle {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.catalogList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 435px) {
  .catalogList {
    justify-content: space-around;
  }
}

.catalogItem {
  position: relative;
  width: calc(33.333% - 20px);
  height: 445px;
  border: 0px solid;
  border-radius: 12px;
  overflow: hidden;
}

@media screen and (max-width: 435px) {
  .catalogItem {
    width: calc(50% - 20px);
    height: 234px;
  }
}

.catalogItemLink {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.catalogItemImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.catalogItemTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
}

@media screen and (max-width: 435px) {
  .catalogItemTitle {
    font-size: 24px;
    text-align: center;
    white-space: wrap;
  }
}
