.FAQ {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 375px 200px 375px;
  background-color: #f9f9f9;
}

@media screen and (max-width: 768px) {
  .FAQ {
    width: 100%;
    padding: 68px 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .FAQ {
    padding: 80px 150px;
  }
}

.FAQTitle {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .FAQTitle {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .FAQTitle {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.FAQList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  background-color: #fff;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .FAQList {
    background-color: #f9f9f9;
    padding: 12px 0 12px 0;
    margin: 0 auto;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .FAQList {
    display: flex;
    margin: 0 auto;
    width: 468px;
    align-items: stretch;
    background-color: #f9f9f9;
    padding: 0;
  }
}

.FAQItem {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .FAQItem {
    max-width: 390px;
    display: flex;
    align-items: stretch;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .FAQItem {
    max-width: 468px;
    padding: 16px 0;
    display: flex;
    align-items: stretch;
  }
}

.FAQItemTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .FAQItemTitle {
    width: 70%;
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .FAQItemTitle {
    margin: 0;
    width: 70%;
    font-size: 18px;
  }
}

.FAQItemText {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  padding-right: 90px;

  /* display: none; */
}

@media (min-width: 768px) and (max-width: 1024px) {
  .FAQItemText {
    padding: 0;
    width: 100%;
  }
}

.FAQIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 40px;
  margin-left: auto;
  fill: #f880c8;
}

@media screen and (max-width: 768px) {
  .FAQIcon {
    margin-left: auto;
    width: 44px;
    height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .FAQIcon {
    top: 17px;
  }
}

.FAQItem .FAQItemText {
  /* display: none;  */
}

.FAQItem.active .FAQItemText {
  display: block; /* Показываем текст при активности */
}
