.FAQ {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 375px 200px 375px;
  background-color: #f9f9f9;
}

@media screen and (max-width: 768px) {
  .FAQ {
    width: 100%;
    padding: 68px 20px;
  }
}

.FAQTitle {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .FAQTitle {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.FAQList {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  background-color: #fff;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .FAQList {
    padding: 12px 0 12px 0;
  }
}

.FAQItem {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .FAQItem {
    display: flex;
    align-items: stretch;
  }
}

.FAQItemTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
}

@media screen and (max-width: 768px) {
  .FAQItemTitle {
    font-size: 16px;
  }
}

.FAQItemText {
  margin-top: 10px;
  font-size: 1em;
  display: none;
}

.FAQIcon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .FAQIcon {
    margin-left: auto;
    width: 44px;
    height: 40px;
  }
}

/* Active state */
.FAQItem.active .FAQItemText {
  display: block;
}

.FAQItem.active .FAQIcon use {
  href: '../../../public/icons.svg#icon-accordeon-statusPlus';
}
