.hero {
  background-image: linear-gradient(
      rgba(56, 48, 56, 0.3),
      rgba(56, 48, 56, 0.3)
    ),
    url(../../../public/catalogSpecial.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
}

.heroContainer {
  max-width: 1440px;
  /* width: 100%; */
  padding-top: 297px;
  padding-bottom: 100px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .heroContainer {
    padding: 162px 20px 68px 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .heroContainer {
    padding: 221px 40px 220px 40px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .heroContainer {
    padding: 190px 80px 100px 80px;
    box-sizing: border-box;
  }
}

.heroTitle {
  color: var(--Text-Colors-White, #fff);
  text-align: center;
  font-family: 'Belleza';
  font-size: 72px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .heroTitle {
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .heroTitle {
    font-size: 72px;
  }
}

.heroText {
  color: var(--Text-Colors-White, #fff);
  text-align: center;
  font-size: 24px;
  margin-bottom: 54px;
}

@media screen and (max-width: 768px) {
  .heroText {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .heroText {
    font-size: 24px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .heroText {
    margin-bottom: 80px;
  }
}
.heroText {
}

.heroButtons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .heroButtons {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .heroButtons {
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .heroButtons {
  }
}

.heroContactLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  background-color: #fff;
  border-radius: 12px;
  font-family: 'Open Sans';
  font-size: 18px;
  color: #006dd2;
  width: 197px;
  height: 53px;
  border: 1px solid #006dd2;
  box-sizing: border-box;
  transition:
    border-width 0.3s ease,
    outline 0.3s ease;
}

.heroContactLink:hover,
.heroContactLink:focus {
  border-width: 2px;
  outline: 2px solid #006dd2;
  outline-offset: -2px;
}

.heroOrderBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  background-color: #f880c8;
  border-radius: 12px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  width: 197px;
  border: 0;
  box-sizing: border-box;
}
