.hero {
  /* width: 1440px; */
  background-image: url(../../../public/catalogSpecial.jpg);
  background-size: cover;
  padding-top: 297px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.heroTitle {
  color: var(--Text-Colors-White, #fff);
  text-align: center;

  font-family: 'Belleza';
  font-size: 72px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.heroText {
  color: var(--Text-Colors-White, #fff);
  text-align: center;
  font-size: 24px;

  margin-bottom: 54px;
}

.heroText {
}

.heroButtons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.heroContactLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  background-color: #fff;
  border-radius: 12px;
  font-family: 'Open Sans';
  font-size: 18px;

  color: #006dd2;
  width: 197px;
}

.heroOrderBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  background-color: #f880c8;
  border-radius: 12px;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  width: 197px;
  border: 0;
}
