.offerList {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.offerItem {
  position: relative;
  overflow: hidden;
}

.offerItemImg {
  width: 100%;
  margin-bottom: 32px;
  border-radius: 12px;
}

.offerItemIcon {
  fill: rgba(253, 253, 253, 0.7);
  stroke: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  padding: 6px;
}

.offerItemIcon:hover,
.offerItemIcon:focus {
  fill: #f880c8;
  stroke: #f880c8;
}

.offerItemTitle {
  color: var(--Text-Colors-Black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 7px;
  border-bottom: 1px solid;
  margin-bottom: 16px;
}

.offerItemPrice {
  display: flex;
  align-items: center;

  font-size: 24px;
  margin: 0;
}

.offerItemPreviousPrice {
  color: var(--Elements-Colors-Hot-Pink, #f880c8);
  font-size: 14px;
  font-family: 'Open Sans', serif;

  text-decoration-line: line-through;
  margin: 7px;
}

.offerItemBtn {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #fff;
  /* background: var(--Elements-Colors-Hot-Pink, #f880c8); */
  border: 0;
  color: #f880c8;
  border: 2px solid #f880c8;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.offerItemBtn:hover,
.offerItemBtn:focus {
  background-color: #f880c8;
  color: #fff;
}
