.header {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 26px 106px 26px 126px;
  align-items: baseline;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    padding: 20px;
  }
}

.headerNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: #f880c8;
  color: #f9f9f9;
  border-radius: 50%;
  margin-right: 128px;
}
@media screen and (max-width: 768px) {
  .headerLogo {
    margin-right: 0;
  }
}

.headerMenu {
  display: flex;
  gap: 44px;
}

@media screen and (max-width: 768px) {
  .headerMenu {
    display: none;
  }
}

.headerMenuItem {
}

.headerMenuLink {
  color: #000;
}

.headerBox {
  display: flex;
}

.header .searchForm {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 2px 12px;
  border-radius: 12px;
  border: 0.5px solid;
  margin-right: 24px;
}

@media screen and (max-width: 768px) {
  .header .searchForm {
    display: none;
  }
}

.searchFormInput {
  font-size: 12px;
  font-family: 'Manrope';
  border: 0;
}

.searchFormBtn {
  border: 0;
  background-color: #fff;
}

.iconBtn {
}

.iconBox {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 44px;
}

@media screen and (max-width: 768px) {
  .iconBox {
    display: none;
  }
}

.icon {
  width: 26px;
  height: 26px;
}

.btnLogin {
  display: flex;
  width: 100px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 20px;
}
