.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin: 0 auto;
  display: flex;
  padding: 26px 106px 26px 126px;
  align-items: baseline;
  justify-content: space-between;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .mainContainer {
  }
}

@media screen and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    padding-right: 25px;
    align-items: center;
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    padding-right: 25px;
    align-items: center;
    position: relative;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .header {
    width: 100%;
    max-width: 1439px;
    margin: 0 auto;
    display: flex;
    padding: 20px 80px;
    align-items: baseline;
    justify-content: center;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
}

.headerNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: #f880c8;
  color: #f9f9f9;
  border-radius: 50%;
  margin-right: 128px;
}

@media screen and (max-width: 767px) {
  .headerLogo {
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .headerLogo {
    margin-right: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .headerLogo {
    width: 90px;
    height: 90px;
    margin-right: 52px;
    font-size: 13px;
  }
}

.headerMenu {
  display: flex;
  /* gap: 44px; */
  justify-content: space-between;
  width: 498px;
}

@media screen and (max-width: 767px) {
  .headerMenu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .headerMenu {
    display: none;
  }
}


@media (min-width: 1024px) and (max-width: 1439px) {
  .headerMenu {
    display: flex;
    gap: 16px;
    flex-direction: row;
    width: 359px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .headerMenuItem {
    /* padding: 14px 8px; */
  }
}

.headerMenuItem {
}

.headerMenuLink {
  display: inline-block;

  color: #100f0f;
  transition: all 0.3s;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .headerMenuLink {
    padding: 14px 8px;
    font-size: 14px;
    white-space: nowrap;
  }
}

.headerMenuLink:hover {

  font-size: 18px;
  font-weight: 700;
  color: #f880c8;
}

.headerMenuLink:focus {}

@media (min-width: 1024px) and (max-width: 1439px) {
  .headerMenuLink:hover,
  .headerMenuLink:focus {
    font-size: 14px;
    font-weight: 700;
    color: #f880c8;
  }
}

.headerMenuActive {
  font-size: 18px;
  font-weight: 700;
  color: #f880c8;
}

.headerBox {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .headerBox {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .headerBox {
    display: none;
  }
}

.header .searchForm {
  display: flex;
  align-items: center;
  height: 32px;
  position: relative;
  gap: 14px;
  padding: 2px 12px;
  border-radius: 12px;
  border: 0.5px solid;
  margin-right: 24px;
}

@media screen and (max-width: 767px) {
  .header .searchForm {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header .searchForm {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .header .searchForm {
    width: 142px;
    height: 36px;
    box-sizing: border-box;
    margin-right: 32px;
  }
}

.searchFormInput {
  width: 100%;
  font-size: 12px;
  font-family: 'Manrope';
  border: 0;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .searchFormInput {
    width: 100%;
  }
}

.searchFormBtn {
  border: 0;
  background-color: #fff;
  position: relative;
}

.searchFormBtn .icon {
  position: absolute;
  top: -12px;
  right: -4px;
}

@media screen and (max-width: 767px) {
  .searchMobileForm .searchFormInput {
    padding: 10px 12px 10px 12px;
  }
   
}


@media (min-width: 768px) and (max-width: 1024px) {
  .searchMobileForm .searchFormInput {
      padding: 10px 12px 10px 12px;
    }
  .searchFormBtn .icon {
      position: absolute;
      top: -15px;
      right: -15px;
    }
}


.iconBtn {}

.iconBox {
  display: flex;

  align-items: center;
  gap: 12px;
  margin-right: 44px;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .iconBox {
    margin-right: 16px;
  }
}

@media screen and (max-width: 768px) {
  .iconBox {
    display: none;
  }
}

.icon {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: #100f0f;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .iconBox {
    gap: 6px;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
}

.icon:hover,
.icon:focus {
  fill: #f880c8;
  stroke: #f880c8;
}

.btnLogin {
  display: flex;
  width: 100px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 20px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.btnLogin:hover,
.btnLogin:focus {
  color: #fff;
  background: #282828;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .btnLogin {
    width: 85px;
    padding: 8px;
    font-size: 16px;
  }
}

.headerMobileBox {
  display: none;
}

@media screen and (max-width: 767px) {
  .headerMobileBox {
    display: flex;
    gap: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .headerMobileBox {
    display: flex;
    gap: 27px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .icon {
    width: 43px;
    height: 43px;
  }
}

.mobileNavigator {
  display: none;
}

@media screen and (max-width: 1024px) {
  .mobileNavigator.open {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(47%);
    transition:
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: #fff;
  }
}

.mobileNavigator {
  transform: translateY(-100%);
}

@media screen and (max-width: 1024px) {
  .headerMobileMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .headerMobileMenuItem {
    padding: 10px 0 10px 0;
  }
}

@media screen and (max-width: 1024px) {
  .searchMobileForm {
    display: flex;
    width: 224px;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-top: 20px;
    padding: 2px 12px;
    border-radius: 12px;
    border: 0.5px solid;
  }
}

@media screen and (max-width: 1024px) {
  .toggleMobileMenu {
    border: none;
  }
}

.headerMobileBox button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.headerMobileBox .icon {
  fill: black;
  stroke: black;

  transition: transform 0.3s ease;
}

.headerMobileBox .icon:hover,
.headerMobileBox .icon:focus {
  transform: scale(1.2);
}