.footer {
  width: 1440px;
  padding: 96px 154px;
  margin: 0 auto;
  display: flex;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 100%;
    padding: 68px 40px 68px 40px;
  }
}

.footerNavigation {
  display: flex;
}

@media screen and (max-width: 768px) {
  .footerNavigation {
    margin: 0 auto;
  }
}

.footerContainerInfo {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-right: 291px;
}

@media screen and (max-width: 768px) {
  .footerContainerInfo {
    gap: 16px;
    margin: 0 auto;
    text-align: center;
    padding: 12px;
  }
}

.footerMenu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footerMenuItem {
  display: flex;
}

@media screen and (max-width: 768px) {
  .footerMenuItem {
    margin: 0 auto;
    gap: 16px;
  }
}

.footerMenuLink {
  color: #000;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rightsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rightsItem {
}

.rightsLink {
  color: #000;
}

.footerAddress {
}

@media screen and (max-width: 768px) {
  .footerAddress {
    display: none;
  }
}

.footerAddressHead {
  color: #000;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}

.footerAddressList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.footerAddressItem {
}

.footerAddressLink {
  color: #000;
  font-style: normal;
}

.footerLogo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 120px;
  background-color: #f880c8;
  color: #f9f9f9;
  border-radius: 50%;
  padding: 12px;
}

@media screen and (max-width: 768px) {
  .footerLogo {
    width: 84px;
    height: 84px;
    font-size: 13px;
  }
}

.footerSocialsList {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.footerSocialsItem {
}

.footerSocialsLink {
}

.footerSocialsIcon {
  display: flex;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .footerSocialsIcon {
    width: 32px;
    height: 32px;
  }
}

.logoSocialContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: auto;
  padding: 12px;
}

@media screen and (max-width: 768px) {
  .logoSocialContainer {
    margin: 0 auto;
    padding-top: 16px;
  }
}
