.footer {
  width: 1440px;
  padding: 96px 154px;
  margin: 0 auto;
  display: flex;
  background-color: #fff;
  display: none;
}

@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 100%;
    padding: 68px 40px 68px 40px;
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    /* display: flex;
    gap: 16px;
    flex-direction: column; */
    width: 100%;
    padding: 80px 20px;
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .footer {
    display: none;
  }
}

.footerNavigation {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footerNavigation {
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .footerNavigation {
    display: flex;
    width: 57%;
    justify-content: space-between;
  }
}
/* df */

.footerContainerInfo {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-right: 291px;
}

@media screen and (max-width: 767px) {
  .footerContainerInfo {
    gap: 16px;
    margin: 0 auto;
    text-align: center;
    padding: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footerContainerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    /* margin-right: 182px; */
    margin-right: 0;
  }
  .rightsItem:last-child {
    display: none;
  }
}

.footerMenu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footerMenu {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-between;
  }
}

.footerMenuItem {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footerMenuItem {
    margin: 0 auto;
    gap: 16px;
  }
}

.footerMenuLink {
  color: #000;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .rightsLink {
    font-size: 16px;
    white-space: nowrap;
  }
}

.rightsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rightsItem {
}

.rightsLink {
  color: #000;
}

.footerAddress {
}

@media screen and (max-width: 767px) {
  .footerAddress {
    display: none;
  }
}

.footerAddressHead {
  color: #000;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 24px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footerAddressHead {
    font-size: 16px;
    font-weight: 400;
  }
}

.footerAddressList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footerAddressList {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }
}

.footerAddressItem {
}

.footerAddressLink {
  color: #000;
  font-style: normal;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footerAddressLink {
    font-size: 12px;
    gap: 24px;
  }
}

.footerLogo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 120px;
  background-color: #f880c8;
  color: #f9f9f9;
  border-radius: 50%;
  padding: 12px;
}

@media screen and (max-width: 767px) {
  .footerLogo {
    width: 84px;
    height: 84px;
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footerLogo {
    width: 84px;
    height: 84px;
    font-size: 13px;
  }
}

.footerSocialsList {
  display: flex;
  gap: 24px;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footerSocialsList {
    display: flex;
  }
}

.footerSocialsItem {
}

.footerSocialsLink {
}

.footerSocialsIcon {
  display: flex;
  width: 24px;
  height: 24px;
  fill: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footerSocialsIcon {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 767px) {
  .footerSocialsIcon {
    width: 32px;
    height: 32px;
  }
}

.logoSocialContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: auto;
  padding: 12px;
}

@media screen and (max-width: 767px) {
  .logoSocialContainer {
    margin: 0 auto;
    padding-top: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .logoSocialContainer {
    align-items: center;
    padding: 0;
    justify-content: space-between;
  }
}

.nameBrand {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .nameBrand {
    display: flex;
    font-size: 12px;
    margin: 0;
  }
  .nameBrandText {
    margin: 0;
  }
}
