.offer {
  /* width: 1440px; */
  margin: 0 auto;
  padding: 100px 80px;
  position: relative;
  background-color: #f9f9f9;
}

@media screen and (max-width: 768px) {
  .offer {
    width: 100%;
    padding: 68px 20px 68px 20px;
  }
}

.offerTitle {
  color: var(--Elements-Colors-Black, #282828);
  text-align: center;

  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .offerTitle {
    margin-bottom: 40px;
  }
}

.offerList {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .offerList {
    flex-wrap: wrap;
  }
}

.offerItem {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .offerItem {
    width: calc((100% - 20px) / 2);
  }
}

.offerItemImg {
  width: 100%;
  margin-bottom: 32px;
  border-radius: 12px;
}

@media screen and (max-width: 768px) {
  .offerItemImg {
    margin-bottom: 12px;
  }
}
.offerItemIcon {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  padding: 6px;
}

.offerItemTitle {
  color: var(--Text-Colors-Black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 7px;
  border-bottom: 1px solid;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .offerItemTitle {
    padding-bottom: 4px;
    margin-bottom: 12px;
  }
}

.offerItemPrice {
  display: flex;
  align-items: center;

  font-size: 24px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .offerItemPrice {
    font-size: 16px;
  }
}

.offerItemPreviousPrice {
  color: var(--Elements-Colors-Hot-Pink, #f880c8);
  font-size: 14px;
  font-family: 'Open Sans', serif;

  text-decoration-line: line-through;
  margin: 7px;
}

.offerItemBtn {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 305px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--Elements-Colors-Hot-Pink, #f880c8);
  border: 0;
  color: #fff;

  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .offerItemBtn {
    width: 100%;
    margin-top: 14px;
  }
}
