.offer {
  width: 1440px;
  margin: 0 auto;
  padding: 80px;
  position: relative;
}

.offerTitle {
  visibility: hidden;
  margin: 0;
}

.offerList {
  display: flex;
  gap: 20px;
  align-items: center;
}

.offerItem {
  position: relative;
  overflow: hidden;
}

.offerItemImg {
  width: 100%;
  margin-bottom: 32px;
  border-radius: 12px;
}

.offerItemIcon {
  position: absolute;
  right: 62px;
  bottom: -7px;
  width: 40px;
  height: 40px;
}

.offerItemTitle {
  color: var(--Text-Colors-Black, #000);
  font-family: 'Open Sans Hebrew';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 7px;
  border-bottom: 1px solid;
  margin-bottom: 16px;
}

.offerItemPrice {
  color: var(--Text-Colors-Black, #000);
  font-family: 'Open Sans Hebrew';
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.offerItemPreviousPrice {
  color: var(--Elements-Colors-Hot-Pink, #f880c8);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: line-through;
  margin: 7px;
}

.offerItemBtn {
  position: absolute;
  right: 10px;
  bottom: 0px;
  display: flex;
}
