.offer {
  background-color: #f9f9f9;
}

.offerContainer {
  max-width: 1440px;

  margin: 0 auto;
  padding: 100px 80px 200px 80px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .offerContainer {
    padding: 68px 20px 68px 20px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .offerContainer {
    padding: 80px 40px 136px 40px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .offerContainer {
    padding: 100px 80px;
  }
}

.offerTitle {
  color: var(--Elements-Colors-Black, #282828);
  /* text-align: center; */
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 80px;
  display: inline-block;
  background-color: #fff;
  padding: 16px 80px;
  border-radius: 0px 20px 20px 0px;
  background: var(--Text-Colors-White, #fcfcfc);
  box-shadow: 0px 4px 9.6px 0px rgba(223, 223, 223, 0.16);
  width: 385px;
  margin-left: -80px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .offerTitle {
    margin-left: -40px;
    padding: 12px 40px;
    width: 285px;
  }
}

@media screen and (max-width: 767px) {
  .offerTitle {
    font-size: 24px;
    padding: 12px 40px;
    margin-bottom: 40px;
    width: 265px;
    margin-left: -20px;
  }
}

.offerList {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .offerList {
    flex-wrap: wrap;
  }
}

.offerItem {
  position: relative;
  overflow: hidden;
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .offerList {
    gap: 16px;
  }
  .offerItem {
    width: calc((100% - (16px * 3)) / 4);
  }
}

@media screen and (max-width: 768px) {
  .offerItem {
    width: calc((100% - 20px) / 2);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .offeritem {
    width: calc((100% - 20px) / 4);
  }
}

.offerItemImg {
  width: 100%;
  margin-bottom: 32px;
  border-radius: 12px;
}

@media screen and (max-width: 767px) {
  .offerItemImg {
    /* height: 215px; */
    margin-bottom: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .offerItemImg {
    /* height: 255px; */
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .offerItemImg {
    /* height: 240px; */
  }
}

.offerItemIcon {
  fill: rgba(253, 253, 253, 0.7);
  stroke: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  padding: 6px;
}

.offerItemIcon:hover,
.offerItemIcon:focus {
  fill: #f880c8;
  stroke: #f880c8;
}

.offerItemTitle {
  color: var(--Text-Colors-Black, #000);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 7px;
  border-bottom: 1px solid;
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .offerItemTitle {
    padding-bottom: 4px;
    margin-bottom: 12px;
  }
}

.offerItemPrice {
  display: flex;
  align-items: center;

  font-size: 24px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .offerItemPrice {
    font-size: 16px;
  }
}

.offerItemPreviousPrice {
  color: var(--Elements-Colors-Hot-Pink, #f880c8);
  font-size: 14px;
  font-family: 'Open Sans', serif;

  text-decoration-line: line-through;
  margin: 7px;
}

.offerItemBtn {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #fff;
  /* background: var(--Elements-Colors-Hot-Pink, #f880c8); */
  border: 0;
  color: #f880c8;
  border: 2px solid #f880c8;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.offerItemBtn:hover,
.offerItemBtn:focus {
  background-color: #f880c8;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .offerItemBtn {
    width: 100%;
    margin-top: 14px;
    font-size: 16px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .offerItemBtn {
    width: 100%;
  }
}
